{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% set title = "Host {% if host %} {{ host.Hostname}} {% endif %} " %}

{% block page_title %}  {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} Detail {% endblock menu_l2 %}

{% block content %}
{% if host %}
<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">General Information</h3>

                    <div class="card-tools">
                      <a href="{{ url_for('sysinfo.host_export_word', id=host.id) }}" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">Hostname</dt>
                      <dd class="col-sm-8">{{ host.Hostname }}</dd>
                      <dt class="col-sm-4">Domain</dt>
                      <dd class="col-sm-8">{{ host.Domain }}</dd>
                      <dt class="col-sm-4">DomainRole</dt>
                      <dd class="col-sm-8">{{ host.DomainRole }}</dd>
                      <dt class="col-sm-4">LogonServer</dt>
                      <dd class="col-sm-8">{{ host.LogonServer }}</dd>
                      <dt class="col-sm-4">TimeZone</dt>
                      <dd class="col-sm-8">{{ host.TimeZone }}</dd>
                      <dt class="col-sm-4">KeyboardLayout</dt>
                      <dd class="col-sm-8">{{ host.KeyboardLayout }}</dd>
                      <dt class="col-sm-4">HyperVisorPresent</dt>
                      <dd class="col-sm-8">{{ host.HyperVisorPresent }}</dd>
                      <dt class="col-sm-4">DeviceGuardSmartStatus</dt>
                      <dd class="col-sm-8">{{ host.DeviceGuardSmartStatus }}</dd>
                      <dt class="col-sm-4">PowerShell (active Version)</dt>
                      <dd class="col-sm-8">{{ host.PSVersion }}</dd>
                      <dt class="col-sm-4">PowerShell 2 Installed</dt>
                      <dd class="col-sm-8">{{ host.PS2Installed }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Operating System</h3>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">Operating System</dt>
                      <dd class="col-sm-8">{{ host.OSName }}</dd>
                      <dt class="col-sm-4">OSVersion</dt>
                      <dd class="col-sm-8">{{ host.OSVersion }}</dd>
                      <dt class="col-sm-4">OSBuildNumber</dt>
                      <dd class="col-sm-8">{{ host.OSBuildNumber }}</dd>
                      <dt class="col-sm-4">OSInstallDate</dt>
                      <dd class="col-sm-8">{{ host.OSInstallDate }}</dd>
                      <dt class="col-sm-4">OSProductType</dt>
                      <dd class="col-sm-8">{{ host.OSProductType }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->
            </div>
        </div>
</div>

<div class="row m-1">
  <div calss="col-md-12">
  <div class="card card-olive card-tabs">
    <div class="card-header p-0 pt-1">
      <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tabs-network-tab" data-toggle="pill" href="#tabs-network"
             role="tab" aria-controls="tabs-network" aria-selected="true">Network</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-firewall-tab" data-toggle="pill" href="#tabs-firewall"
             role="tab" aria-controls="tabs-winlogon" aria-selected="false">Firewall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-software-tab" data-toggle="pill" href="#tabs-software"
             role="tab" aria-controls="tabs-software" aria-selected="false">Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-users-tab" data-toggle="pill" href="#tabs-users"
             role="tab" aria-controls="tabs-users" aria-selected="false">Users / Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-share-tab" data-toggle="pill" href="#tabs-shares"
             role="tab" aria-controls="tabs-shares" aria-selected="false">Shares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-services-tab" data-toggle="pill" href="#tabs-services"
             role="tab" aria-controls="tabs-services" aria-selected="false">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-shares-tab" data-toggle="pill" href="#tabs-shares"
             role="tab" aria-controls="tabs-shares" aria-selected="false">Shares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-winlogon-tab" data-toggle="pill" href="#tabs-winlogon"
             role="tab" aria-controls="tabs-winlogon" aria-selected="false">Winlogon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-smb-tab" data-toggle="pill" href="#tabs-smb"
             role="tab" aria-controls="tabs-smb" aria-selected="false">SMB Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-wsh-tab" data-toggle="pill" href="#tabs-wsh"
             role="tab" aria-controls="tabs-wsh" aria-selected="false">WSH Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-bios-tab" data-toggle="pill" href="#tabs-bios"
             role="tab" aria-controls="tabs-bios" aria-selected="false">BIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-wsus-tab" data-toggle="pill" href="#tabs-wsus"
             role="tab" aria-controls="tabs-wsus" aria-selected="false">WSUS Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabs-ps-tab" data-toggle="pill" href="#tabs-ps"
             role="tab" aria-controls="tabs-ps" aria-selected="false">PS Versions</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="custom-tabs-one-tabContent">
        <div class="tab-pane fade show active" id="tabs-network" role="tabpanel" aria-labelledby="tabs-network-tab">
                <div class="row m-1">
                      <div class="col-md-6">
                        <div class="card card-olive card-outline">
                          <div class="card-header">
                            <h3 class="card-title">Network Adapter</h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>MAC</th>
                                  <th>Status</th>
                                  <th>Description</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% if host.NetAdapters %}
                                {% for na in host.NetAdapters %}
                                <tr>
                                  <td>{{ na.Name }}</td>
                                  <td>{{ na.MacAddress}}</td>
                                  <td>{{ na.Status }}</td>
                                  <td>{{ na.InterfaceDescription }}</td>
                                </tr>
                                {% endfor %}
                              {% else %}
                                <tr>
                                  <td colspan="4">No network adapter found.</td>
                                </tr>
                              {% endif %}
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                    </div>

                    <!-- /.card -->
                  <div class="col-md-6">
                    <div class="card card-olive card-outline">
                      <div class="card-header">
                        <h3 class="card-title">IP Adresses</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Interface</th>
                              <th>IP</th>
                              <th>Prefix</th>
                              <th>Type</th>
                              <th>AddressFamily</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if host.NetIPAddresses %}
                            {% for nip in host.NetIPAddresses %}
                            <tr>
                              <td>{{ nip.InterfaceAlias }}</td>
                              <td>{{ nip.IP }}</td>
                              <td>{{ nip.Prefix }}</td>
                              <td>{{ nip.Type }}</td>
                              <td>{{ nip.AddressFamily }}</td>
                            </tr>
                            {% endfor %}
                          {% else %}
                            <tr>
                              <td colspan="5">No IP addresses found.</td>
                            </tr>
                          {% endif %}
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  <!-- /.card -->
                </div>
                </div>
        </div>

        <div class="tab-pane fade" id="tabs-firewall" role="tabpanel" aria-labelledby="tabs-firewall-tab">
          <div class="row m-1">
            <div class="col-md-6">
              <div class="card card-olive card-outline">
                <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Firewall Profiles</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                   <dl class="row">
                    <dt class="col-sm-4">Firewall (Domain)</dt>
                    <dd class="col-sm-8">{{ helper.render_isEnabled(host.FwProfileDomain) }}</dd>
                    <dt class="col-sm-4">Firewall (Private)</dt>
                    <dd class="col-sm-8">{{ helper.render_isEnabled(host.FwProfilePrivate) }}</dd>
                    <dt class="col-sm-4">Firewall (Public)</dt>
                    <dd class="col-sm-8">{{ helper.render_isEnabled(host.FwProfilePublic) }}</dd>
                  </dl>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="tab-pane fade" id="tabs-software" role="tabpanel" aria-labelledby="tabs-software-tab">
          <div class="row m-1">
            <div class="col-md-6">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Software Products</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Version</th>
                      <th>InstallDate</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if host.Products %}
                    {% for p in host.Products %}
                    <tr>
                      <td>{{ p.Name }}</td>
                      <td>{{ p.Version }}</td>
                      <td>{{ p.InstallDate }}</td>
                      <td class="actions">
                        <a href="#" class="btn btn-default btn-xs">
                          <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>No additional products installed.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>

            <div class="col-md-6">
              <!-- /.card -->
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Installed Hotfixes</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>KB</th>
                      <th>InstalledOn</th>
                      <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if host.Hotfixes %}
                    {% for h in host.Hotfixes %}
                    <tr>
                      <td>{{ h.HotfixId }}</td>
                      <td>{{ h.InstalledOn }}</td>
                      <td>{{ h.Description }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>No hotfixes installed.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tabs-users" role="tabpanel" aria-labelledby="tabs-users-tab">
          <div class="row m-1">
            <div class="col-md-6">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Local Users</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>AccountType</th>
                      <th>Name</th>
                      <th>Disabled</th>
                      <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if host.Users %}
                    {% for u in host.Users %}
                    <tr>
                      <td>{{ u.AccountType }}</td>
                      <td>{{ u.Name }}</td>
                      <td>{{ u.Disabled }}</td>
                      <td class="actions">
                        <a href="{{ url_for('sysinfo.user_detail', id=u.id) }}" class="btn btn-default btn-xs">
                          <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="4">No local Users found.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>

            <!-- /.card -->
            <div class="card card-olive card-outline">
              <div class="card-header">
                <h3 class="card-title">Groups</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <td colspan="2">No groups found.</td>

                  <tr>
                    <th>Name</th>
                    <th>Details</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if host.Groups %}
                  {% for g in host.Groups %}
                  <tr>
                    <td>{{ g.Name }}</td>
                    <td class="actions">
                      <a href="{{ url_for('sysinfo.group_detail', id=g.id) }}" class="btn btn-default btn-xs">
                        <i class="fa fa-eye"></i> View
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="2">No groups found.</td>
                  </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="tab-pane fade" id="tabs-services" role="tabpanel" aria-labelledby="tabs-services-tab">
          <div class="row m-1">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Services</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th> Name</th>
                      <th> Displayname</th>
                      <th> Started</th>
                      <th> StartName</th>
                      <th> Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if host.Services %}
                    {% for s in host.Services %}
                    <tr>
                      <td>{{ s.Name }}</td>
                      <td>{{ s.DisplayName }}</td>
                      <td>{{ s.Started }}</td>
                      <td>{{ s.StartName }}</td>
                      <td class="actions">
                        <a href="{{ url_for('sysinfo.service_detail', id=s.id) }}" class="btn btn-default btn-xs">
                          <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tabs-shares" role="tabpanel" aria-labelledby="tabs-shares-tab">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">Shares</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Pathname</th>
                      <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if host.Shares %}
                    {% for s in host.Shares %}
                    <tr>
                      <td>{{ s.Name }}</td>
                      <td>{{ s.Path }}</td>
                      <td class="actions">
                        <a href="{{ url_for('sysinfo.share_detail', id=s.id) }}" class="btn btn-default btn-xs">
                          <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>No shares found.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tabs-winlogon" role="tabpanel" aria-labelledby="tabs-winlogon-tab">
          <div class="row">
            <div class="card card-olive card-outline">
              <div class="card-header">
                <h3 class="card-title">Winlogon</h3>

                <div class="card-tools">
                  <a href="{{ url_for('sysinfo.host_export_word', id=host.id) }}" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-4">AutoAdminLogon</dt>
                  <dd class="col-sm-8">{{ host.AutoAdminLogon }}</dd>
                  <dt class="col-sm-4">DefaultDomain</dt>
                  <dd class="col-sm-8">{{ host.DefaultDomain }}</dd>
                  <dt class="col-sm-4">DefaultUserName</dt>
                  <dd class="col-sm-8">{{ host.DefaultUserName }}</dd>
                  <dt class="col-sm-4">DefaultPassword</dt>
                  <dd class="col-sm-8">{{ host.DefaultPassword }}</dd>
                </dl>
              </div>
              <!-- /.card-body -->

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tabs-smb" role="tabpanel" aria-labelledby="tabs-smb-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">SMB Settings</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>SMBv1</th>
                      <th>SMBv2</th>
                      <th>EncryptData</th>
                      <th>EnableSecuritySignature</th>
                      <th>RequireSecuritySignature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ host.SMBv1Enabled }}</td>
                      <td>{{ host.SMBv2Enabled }}</td>
                      <td>{{ host.SMBEncryptData }}</td>
                      <td>{{ host.SMBEnableSecuritySignature }}</td>
                      <td>{{ host.SMBRequireSecuritySignature }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tabs-wsh" role="tabpanel" aria-labelledby="tabs-wsh-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">WSH Settings</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Trust Policy</th>
                      <th>Enabled Status</th>
                      <th>Remote Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ host.WSHTrustPolicy }}</td>
                      <td>{{ host.WSHEnabled }}</td>
                      <td>{{ host.WSHRemote }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tabs-wsus" role="tabpanel" aria-labelledby="tabs-wsus-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">WSUS Settings</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>AcceptTrustedPublisherCerts</th>
                      <th>DisableWindowsUpdateAccess</th>
                      <th>ElevateNonAdmins</th>
                      <th>TargetGroup</th>
                      <th>TargetGroupEnabled</th>
                      <th>WUServer</th>
                      <th>WUStatusServer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ host.AcceptTrustedPublisherCerts }}</td>
                      <td>{{ host.DisableWindowsUpdateAccess }}</td>
                      <td>{{ host.ElevateNonAdmins }}</td>
                      <td>{{ host.TargetGroup }}</td>
                      <td>{{ host.TargetGroupEnabled }}</td>
                      <td>{{ host.WUServer }}</td>
                      <td>{{ host.WUStatusServer }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tabs-ps" role="tabpanel" aria-labelledby="tabs-ps-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">PS Versions</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>PSCompatibleVersion</th>
                      <th>Version</th>
                      <th>RuntimeVersion</th>
                      <th>PSPath</th>
                      <th>ConsoleHostModuleName</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if host.PSInstalledVersions %}
                    {% for ps in host.PSInstalledVersions %}
                    <tr>
                      <td>{{ ps.PSCompatibleVersion }}</td>
                      <td>{{ ps.Version }}</td>
                      <td>{{ ps.RuntimeVersion }}</td>
                      <td>{{ ps.PSPath }}</td>
                      <td>{{ ps.ConsoleHostModuleName }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>No PS Versions found.</td>
                    </tr>
                    {% endif %}

                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="tabs-bios" role="tabpanel" aria-labelledby="tabs-bios-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-olive card-outline">
                <div class="card-header">
                  <h3 class="card-title">BIOS</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Manufacturer</th>
                      <th>Name</th>
                      <th>Version</th>
                      <th>Serial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ host.BiosManufacturer }}</td>
                      <td>{{ host.BiosName }}</td>
                      <td>{{ host.BiosVersion }}</td>
                      <td>{{ host.BiosSerial }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
    </div>
</div>








{% endif %}
{% endblock content %}
