
{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% set title = "{% if host %} {{ host.Hostname}} {% endif %} \ {% if share %} {{ share.Name}} {% endif %} " %}

{% block page_title %}  {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} ConfigCheck {% endblock menu_l2 %}

{% block content %}
{% if check %}

<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">General Information</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">Name</dt>
                      <dd class="col-sm-8">{{ check.Name }}</dd>
                      <dt class="col-sm-4">Component</dt>
                      <dd class="col-sm-8">{{ check.Component }}</dd>
                      <dt class="col-sm-4">Method</dt>
                      <dd class="col-sm-8">{{ check.Method }}</dd>
                      <dt class="col-sm-4">Key</dt>
                      <dd class="col-sm-8">{{ check.Key }}</dd>
                      <dt class="col-sm-4">Value</dt>
                      <dd class="col-sm-8">{{ check.Value }}</dd>
                      <dt class="col-sm-4">Result</dt>
                      <dd class="col-sm-8">{{ check.Result }}</dd>
                      <dt class="col-sm-4">Message</dt>
                      <dd class="col-sm-8">{{ check.Message }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Affected Host</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">Hostname</dt>
                      <dd class="col-sm-8">{{ check.Host.Hostname }}</dd>
                      <dt class="col-sm-4">Systemgroup</dt>
                      <dd class="col-sm-8">{{ check.Host.SystemGroup }}</dd>
                      <dt class="col-sm-4">Location</dt>
                      <dd class="col-sm-8">{{ check.Host.Location }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>
</div>

{% endif %}
{% endblock content %}
