{% extends "layout/search_list_layout.html" %}
{% from "_formhelpers.html" import render_field_sm2, render_check_field, render_check_field_sm2, render_submit_field %}
{% set title = "RegistryChecks" %}
{% block page_title %} RegistryChecks {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} RegistryChecks List {% endblock menu_l2 %}

{% block download_links %}
    {{ super() }}

{% endblock download_links %}

{% block searchform %}
    <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ render_field_sm2(form.Name) }}
                            {{ render_check_field_sm2(form.InvertName) }}

                            {{ render_field_sm2(form.Category) }}
                            {{ render_check_field_sm2(form.InvertCategory) }}

                            {{ render_field_sm2(form.Path) }}
                            {{ render_check_field_sm2(form.InvertPath) }}

                            {{ render_field_sm2(form.Key) }}
                            {{ render_check_field_sm2(form.InvertKey) }}

                            {{ render_field_sm2(form.Description) }}
                            {{ render_check_field_sm2(form.InvertDescription) }}
                        </div>
                        <div class="col-sm-6">
                            {{ render_field_sm2(form.Tags) }}
                            {{ render_check_field_sm2(form.InvertTags) }}

                            {{ render_field_sm2(form.Expected) }}
                            {{ render_check_field_sm2(form.InvertExpected) }}

                            {{ render_field_sm2(form.CurrentValue) }}
                            {{ render_check_field_sm2(form.InvertCurrentValue) }}

                            {{ render_field_sm2(form.Host) }}
                            {{ render_check_field_sm2(form.InvertHost) }}

                            <br />
                            {{ render_check_field_sm2(form.KeyExists) }}
                            {{ render_check_field_sm2(form.UseKeyExists) }}

                            {{ render_check_field_sm2(form.ValueMatch) }}
                            {{ render_check_field_sm2(form.UseValueMatch) }}


                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {{ render_submit_field(form.search) }}
                    {{ render_submit_field(form.download) }}
                </div>
                <!-- /.card-footer -->
    </form>
{% endblock searchform %}

{% block datatable %}
{{ super() }}
    <table id="table1" class="table table-bordered table-striped dataTable dtr-inliUserne"
                       aria-describedby="table1_info">
            <thead>
            <tr>


                <th class="sorting sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Name" width="15%">Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="DisplayName" width="10%">Category
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Path" width="30%">Path
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Key" width="10%">Key
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="KeyExist" width="5%">KeyExist
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="ValueMatch" width="5%">ValueMatch
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="ValueMatch" width="5%">CurrentValue
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Host" width="10%">Host
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Actions" width="5%">Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% if checks %}
                {% for c in checks %}
                  <tr>
                    <td> {{ c.Name }} </td>
                    <td> {{ c.Category }} </td>
                    <td> {{ c.Path }} </td>
                    <td> {{ c.Key }} </td>
                    <td> {{ c.KeyExists }} </td>
                    <td> {{ c.ValueMatch }} </td>
                    <td> {{ c.CurrentValue }} </td>
                    <td> {{ c.Host }} </td>
                    <td class="actions">
                        <a href="{{ url_for('sysinfo.registrycheck_detail', id=c.id) }}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i> View
                        </a>
                    </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10">No performed configuration checks found!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock datatable %}
