{% extends "layout/list_layout.html" %}

{% set title = "Hosts with PowerShell version 2" %}
{% block page_title %} Hosts with PowerShell version 2 {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} Host List {% endblock menu_l2 %}

{% block download_links %}
    <a href="{{url_for('sysinfo.hosts_report_ps2_excel')}}" class="btn btn-block btn-secondary btn-sm">
        <i class="fas fa-download"> Download (Excel)</i>
    </a>
{% endblock download_links %}

{% block datatable %}
{{ super() }}
    <table id="table1" class="table table-bordered table-striped dataTable dtr-inline"
                       aria-describedby="table1_info">
                <thead>
                <tr>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="Hostname" width="15%">Hostname
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="Domain" width="15%">Domain
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="OSName" width="20%">OS Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="OSVersion">OS Version
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="OSBuildNumber">OS BuildNumber
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="HyperVisorPresent">PS2 Enabled
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="LastUpdate">Active PS Version
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="LastUpdate">Installed PS Versions
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="SystemGroup">SystemGroup
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="Location">Location
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                        aria-label="Details">Details
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if hosts %}
                    {% for h in hosts %}
                      <tr>
                        <td> {{ h.Hostname }} </td>
                        <td> {{ h.Domain }} </td>
                        <td> {{ h.OSName }} </td>
                        <td> {{ h.OSVersion }} </td>
                        <td> {{ h.OSBuildNumber }} </td>
                        <td> {{ h.PS2Installed }} </td>
                        <td> {{ h.PSVersion }} </td>
                        <td> {% if h.PSInstalledVersions %}
                                {% for v in h.PSInstalledVersions %}
                                    {{ v.RuntimeVersion }}<br />
                                {% endfor %}
                            {% else %}

                            {% endif %}</td>
                        <td> {{ h.SystemGroup }} </td>
                        <td> {{ h.Location }} </td>
                        <td class="actions">
                            <a href="{{url_for('sysinfo.host_detail',id=h.id)}}" class="btn btn-default btn-xs">
                                <i class="fa fa-eye"></i> View
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="11">No hosts found!</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
{% endblock datatable %}