{% extends "layout/search_list_layout.html" %}
{% from "_formhelpers.html" import render_field, render_check_field, render_submit_field %}
{% set title = "Service ACLs" %}
{% block page_title %} Service ACLs {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} Service ACL List {% endblock menu_l2 %}

{% block download_links %}
    {{ super() }}

{% endblock download_links %}


{% block searchform %}
    <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <div class="card-body">
                    {{ render_field(form.User) }}
                    {{ render_check_field(form.InvertUser) }}
                    {{ render_field(form.Permission) }}
                    {{ render_check_field(form.InvertPermission) }}

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {{ render_submit_field(form.search) }}
                    {{ render_submit_field(form.download) }}
                </div>
                <!-- /.card-footer -->
    </form>

{% endblock searchform %}

{% block datatable %}
{{ super() }}
    <table id="table1" class="table table-bordered table-striped dataTable dtr-inliUserne"
                       aria-describedby="table1_info">
            <thead>
            <tr>
                <th class="sorting sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Name" width="15%">Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="DisplayName" width="15%">AccountName
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="StartMode" width="20%">AccessControlType
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="StartName" width="5%">AccessRight
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Started" width="5%">SystemName
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Started" width="5%">Location
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Started" width="5%">Systemgroup
                </th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1"
                    aria-label="Details" width="5%">Details
                </th>
            </tr>
            </thead>
            <tbody>
            {% if acls %}
                {% for a in acls %}
                  <tr>
                    <td> {{ a.Name }} </td>
                    <td> {{ a.AccountName }} </td>
                    <td> {{ a.AccessControlType }} </td>
                    <td> {{ a.AccessRight }} </td>
                    <td> {{ a.Service.SystemName }} </td>
                    <td> {{ a.Service.Host.Location }} </td>
                    <td> {{ a.Service.Host.SystemGroup }} </td>
                    <td class="actions">
                        <a href="{{ url_for('sysinfo.service_detail', id=a.Service.id) }}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i> View Service
                        </a>
                    </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">No service ACLs found!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock datatable %}
