APIFlask==2.4.0
apispec==6.8.2
astroid==3.3.10
babel==2.17.0
beautifulsoup4==4.13.4
blinker==1.9.0
click==8.2.1
dill==0.4.0
docxcompose==1.4.0
docxtpl==0.20.0
dominate==2.9.1
Flask==3.1.1
flask-babel==4.0.0
Flask-Bootstrap4==4.0.2
flask-cors==6.0.0
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
flask-marshmallow==1.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.2.2
gunicorn==23.0.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
marshmallow==4.0.0
marshmallow-sqlalchemy==1.4.2
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycryptodome==3.23.0
pylint==3.3.7
python-docx==1.1.2
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.41
tomlkit==0.13.2
typing_extensions==4.14.0
visitor==0.1.3
webargs==8.7.0
Werkzeug==3.1.3
WTForms==3.2.1
XlsxWriter==3.2.3
