{% extends "layout/list_layout.html" %}

{% set title = "Host List" %}
{% block page_title %} Host List {% endblock page_title %}
{% block menu_l1 %} System Reviews {% endblock menu_l1 %}
{% block menu_l2 %} Host List {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
      <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="15%"> Hostname </th>
                        <th width="5%"> Domain</th>
                        <th width="35%"> OSName </th>
                        <th width="15%"> OSVersion </th>
                        <th width="5%"> OSBuildNumber </th>
                        <th width="5%"> HyperVisorPresent </th>
                        <th width="5%"> DeviceGuardSmartStatus</th>
                        <th width="5%"> PSVersion</th>
                        <th width="5%"> AutoAdminLogon</th>
                        <th width="5%"> Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% if hosts %}
                        {% for h in hosts %}
                          <tr>
                            <td> {{ h.Hostname }} </td>
                            <td> {{ h.Domain }} </td>
                            <td> {{ h.OSName }} </td>
                            <td> {{ h.OSVersion }} </td>
                            <td> {{ h.OSBuildNumber }} </td>
                            <td> {{ h.HyperVisorPresent }} </td>
                            <td> {{ h.DeviceGuardSmartStatus }} </td>
                            <td> {{ h.PSVersion }} </td>
                            <td> {{ h.AutoAdminLogon }} </td>
                            <td class="actions">
                                <a href="{{url_for('hosts.host_detail',id=h.id)}}" class="btn btn-default btn-xs">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No hosts found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
{% endblock datatable %}
