{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% set title = "Domain {% if domain %} {{ domain.NetBIOSName}} {% endif %} " %}

{% block page_title %}  {% endblock page_title %}
{% block menu_l1 %} Active Directory {% endblock menu_l1 %}
{% block menu_l2 %} Domain Detail {% endblock menu_l2 %}

{% block content %}
{% if domain %}

<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">General Information</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">Name</dt>
                      <dd class="col-sm-8">{{ domain.Name }}</dd>
                      <dt class="col-sm-4">NetBIOSName</dt>
                      <dd class="col-sm-8">{{ domain.NetBIOSName }}</dd>
                      <dt class="col-sm-4">DNSRoot</dt>
                      <dd class="col-sm-8">{{ domain.DNSRoot }}</dd>
                      <dt class="col-sm-4">SID</dt>
                      <dd class="col-sm-8">{{ domain.DomainSID }}</dd>
                      <dt class="col-sm-4">RIDMaster</dt>
                      <dd class="col-sm-8">{{ domain.RIDMaster }}</dd>
                      <dt class="col-sm-4">PDCEmulator</dt>
                      <dd class="col-sm-8">{{ domain.PDCEmulator }}</dd>
                      <dt class="col-sm-4">Parent Domain</dt>
                      <dd class="col-sm-8">{{ domain.ParentDomain }}</dd>
                      <dt class="col-sm-4">Forest</dt>
                      <dd class="col-sm-8">{{ domain.Forest }}</dd>
                      <dt class="col-sm-4">Users Container</dt>
                      <dd class="col-sm-8">{{ domain.UsersContainer }}</dd>
                      <dt class="col-sm-4">Systems Container</dt>
                      <dd class="col-sm-8">{{ domain.SystemsContainer }}</dd>
                      <dt class="col-sm-4">Computer Container</dt>
                      <dd class="col-sm-8">{{ domain.ComputerContainer }}</dd>
                      <dt class="col-sm-4">DistinguishedName</dt>
                      <dd class="col-sm-8">{{ domain.DistinguishedName }}</dd>
                      <dt class="col-sm-4">Infrastructure Master</dt>
                      <dd class="col-sm-8">{{ domain.InfrastructureMaster }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
