{% extends "layout/list_layout.html" %}

{% set title = "Group List" %}
{% block page_title %} Group List {% endblock page_title %}
{% block menu_l1 %} Active Directory {% endblock menu_l1 %}
{% block menu_l2 %} Group List {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
      <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="15%"> SAMAccountName </th>
                        <th width="10%"> Domain </th>
                        <th width="5%"> GroupCategory</th>
                        <th width="10%"> GroupScope </th>
                        <th width="20%"> SID </th>
                        <th width="15%"> CN </th>
                        <th with="20">Description</th>
                        <th with="5">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% if groups %}
                        {% for u in groups %}
                          <tr>
                            <td> {{ u.SamAccountName }} </td>
                            <td> {{ u.Domain_id }} </td>
                            <td> {{ u.GroupCategory }} </td>
                            <td> {{ u.GroupScope }} </td>
                            <td> {{ u.SID }} </td>
                            <td> {{ u.CN }} </td>
                            <td> {{ u.Description }} </td>
                            <td class="actions">
                                <a href="{{url_for('ad.group_detail',id=u.id)}}" class="btn btn-default btn-xs">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No domain groups found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
{% endblock datatable %}
