{% macro render_check_field(field) %}
  <div class="form-group row">
      <div class="offset-sm-1 col-sm-10">
        <div class="form-check">
          {{ field(class="form-check-input", **kwargs)|safe }}
          {{ field.label(class="form-check-label") | safe }}
        </div>
      </div>
    </div>
{% endmacro %}

{% macro render_file_field(field) %}
  <div class="form-group row">
        <div class="form-check">
          {{ field(class="custom-file-input", **kwargs)|safe }}
          {{ field.label(class="custom-file-label") | safe }}
        </div>
    </div>
{% endmacro %}

{% macro render_check_field_sm2(field) %}
  <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <div class="form-check">
          {{ field(class="form-check-input", **kwargs)|safe }}
          {{ field.label(class="form-check-label") | safe }}
        </div>
      </div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
   <div class="form-group row">
    {{ field.label(class="col-sm-1 col-form-label") | safe }}
    <div class="col-sm-6">
      {{ field(class="form-control")|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro render_field_sm2(field) %}
   <div class="form-group row">
    {{ field.label(class="col-sm-2 col-form-label") | safe }}
    <div class="col-sm-6">
      {{ field(class="form-control")|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro render_pw_field(field) %}
   <div class="form-group row">
    {{ field.label(class="col-sm-1 col-form-label") | safe }}
    <div class="col-sm-6">
      {{ field(class="form-control", type="password")|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro render_pw_field_sm2(field) %}
   <div class="form-group row">
    {{ field.label(class="col-sm-2 col-form-label") | safe }}
    <div class="col-sm-6">
      {{ field(class="form-control", type="password")|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_submit_field(field) %}
      {{ field(class="btn btn-primary", **kwargs)|safe }}
{% endmacro %}

