
{% macro render_status(status) %}
  {% if status.name == 'open' %}
    <span class="btn btn-success btn-xs">{{ status.name }}</span>
  {% elif status.name == 'closed' %}
    <span class="btn btn-danger btn-xs">{{ status.name }}</span>
  {% else %}
    {{ status.name }}
  {% endif %}
{% endmacro %}

{% macro render_isEnabled(enabled) %}
  {% if enabled== "True" %}
    <span class="text-success">Enabled</span>
  {% else %}
    <span class="text-danger">Disabled</span>
  {% endif %}
{% endmacro %}
