{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/base_layout.html" %}
{% from "_formhelpers.html" import render_field_sm2, render_check_field_sm2, render_submit_field %}

{% block content %}

<div class="row m-1">
  <div class="col-md-6">
    <div class="col-md-6">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">

          <form action="{{ url_for('auth.change_pw') }}" method="post">
            {{ form.hidden_tag }}
            {{ render_field_sm2(form.password) }}
          </form>

        <a href="{{ url_for('auth.renew_token') }}" class="btn btn-primary btn-block"><b>Regenerate Token</b></a>
          <a href="{{rl_for('auth.change_pw') }}" } } class="btn btn-primary btn-block"><b>Change Password</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>

{% endblock content %}
